security:
    encoders:
            FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       [ROLE_USER, ROLE_TEACHER, ROLE_STUDENT]
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        in_memory:
            memory: ~

        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
#        dashboard:
#            pattern: ^/dashboard/
#            anonymous:    ~
#            form_login:
#                provider: fos_userbundle
#                csrf_provider: form.csrf_provider
#                login_path: /login
#                check_path:     /dashboard/login_check
#                default_target_path:  /dashboard/
#            logout:
#                path:        /dashboard/logout
#                target:      /home



        dev:
            pattern: ^/(_(profiler|wdt|error)|css|images|js)/
            security: false
            form_login:
                provider: fos_userbundle
                remember_me: true

        main:
            pattern: ^/
            anonymous:    true
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
                default_target_path: /home
                use_referer: true
                success_handler: redirect.after.login
            logout:
                path:        /logout
                target:      /home



    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/dashboard/, role: ROLE_TEACHER }


#    firewalls:
#        main:
#            pattern: ^/
#            form_login:
#                provider: fos_userbundle
#                csrf_provider: form.csrf_provider
#            logout:       true
#            anonymous:    true
#
#    access_control:
#        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/admin/, role: ROLE_ADMIN }
#
#    role_hierarchy:
#        ROLE_ADMIN:       ROLE_USER
#        ROLE_SUPER_ADMIN: ROLE_ADMIN