{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}




    <div class="container">
        <h1>Mentions légales</h1>
   <p>

    Informations éditeur
    Ce site web est le site officiel de L’Ecole Multimédia
    Directeur de la publication : Rémy Galland, Chef d’établissement

    Hébergement
    OVH
    2 rue Kellermann
    59100 Roubaix – France
    www.ovh.com

    Droits d’auteur – Copyright
    Tous les droits de reproduction sont réservés, y compris les représentations photographiques.
    La reproduction de tout ou partie du site est formellement interdite sauf autorisation expresse du directeur de la publication.

    Avertissement
    Les informations qui apparaissent sur ce site sont données à titre purement indicatif. L’Ecole Multimédia met tout en œuvre pour assurer l’exactitude des informations diffusées sur son site à la date de leur insertion ainsi que leur mise à jour régulière. Néanmoins, l’Ecole Multimédia décline toute responsabilité quant à l’exclusivité et l’utilisation par toute personne physique ou morale des informations fournies.

    Législation
    Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de rectification et de suppression des informations vous concernant. Pour l’exercer, adressez-vous à : informations@ecole-multimedia.com
    Ce site est protégé par la loi du 1er juillet 1998 sur la protection juridique des bases de données et de tous ses éléments, tel que les textes, les logos, les graphismes, les images et photos, qui sont la propriété exclusive de L’Ecole Multimédia.

    Toute utilisation, y compris la reproduction même partielle, la modification, la distribution, la transmission, l’affichage du contenu ou de l’un quelconque des éléments de ce site est strictement interdite sans accord écrit L’Ecole Multimédia. Ces éléments sont protégés par la loi française et les lois internationales de protection de la propriété intellectuelle, et notamment les articles Art L.335-2 et L335-3 du code de la propriété intellectuelle. Tout contrevenant à cette protection fera l’objet de poursuites.

    Sauf indications contraires (documents libres de droits), si vous souhaitez utiliser des photos ou des textes sur ce site, vous devez nous contacter à : informations@ecole-multimedia.com

    Par ailleurs, l’utilisation des informations contenues sur le présent site relève de la seule responsabilité de l’utilisateur. Nous ne pourrions en aucun cas, et pour quelque cause que ce soit, en être tenus pour responsables, et ce, quelles qu’en soient les conséquences. Nous ne sommes responsables d’aucune erreur ou omission sur le présent site.

    Numéro d’enregistrement à la CNIL
    déclaration en cours</p>
</div>



{% endblock %}