{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}



    <div class="row">
    {% for posts in results %}
        <div class="col-md-4">
            <img src="{{ posts.urlThumbnail }}" alt=""/>
            <h2>
                {{ posts.titre }}
            </h2>
            <p>
                {{ posts.abstract }}
            </p>
            <p>
                <a class="btn" href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">Lire la suite ...</a>
            </p>
            <p>auteur: alan</p>
            <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 272 commentaire(s) réagissez</p>
        </div>
    {% endfor %}




    <a class="twitter-timeline" href="https://twitter.com/ecolemultimedia" data-widget-id="624516677254946816">Tweet de @ecolemultimedia</a>

{% endblock %}