body {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    background-color: #709095;
    background-image: url("../images/bg.jpg");
    background-size: cover;

}

.h1, h1{
    color:#FFE6D2;
}

.h2, h2{
    font-weight: 400;
    font-size: 19px;
    color:#fffff;
}

a.h2, a h2{
    font-weight: 400;
    font-size: 19px;
    color:#e06619;
}

.btnRead{
    color:#e06619 !important;
}

.banniere{
  height: 20em;
  background-image: url('../images/banniere.jpg');
  background-position: 0px 420px;
  margin-top: 20px;
}


.tags, .questions{
    list-style: none;
    padding: 0;

}

@media (min-width: 768px)
.navbar-nav {
  float: left;
  margin: 0;
  padding-right: 5px;
}

@media (min-width: 768px)
.navbar-nav>li>a {
  padding-top: 17px;
  padding-bottom: 15px;
}

a{
    color:#444A4A;
}

a:hover{
    color: #2E474A;
    text-decoration: underline;
}

.asideread{
    margin-bottom: 25px;
}

.textFooter{
  color: white;
}

a.textFooter:hover{
  text-decoration: underline;
  color: white;
}

a.textFooter:focus{
  color: white;
}

.btnsocial{
    margin: 10px 10px 10px 0%;
    color: white;
}

.fb-share-button{
    margin-top: 10px;
    height: 20px;
}

.container-fluid {
  padding-right: 3%;
  padding-left: 3%;
  margin: 2em auto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.table-bordered>tbody>tr>td{
  vertical-align: middle;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fluid-wrapper {
    position: relative;
    height: 350px;
    margin-bottom: 40px;
}

.fluid-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: medium none;
}

.btn-biru {
    background: #1B93C7 none repeat scroll 0% 0%;
    border-radius: 0px !important;
    border: 0px none !important;
}

.btn-primary-admin {
    margin-bottom: 20px;
}

.thumbnail {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}

.caption-home {
    padding: 140px 10px 0px;
}

@media (min-width: 768px)
.navbar-right {
  float: right!important;
  margin-right: -15px;
  width: 21%;
}

.login-panel {
  margin-top: 15%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}